<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

{% include nav.html %}

{{ content }}

{% include footer.html %}


<!-- Image to hack wechat -->
<img src="/blog/img/icon_wechat.png" width="0" height="0"/>
<!-- Migrate from head to bottom, no longer block render and still work -->
<!--
color: 线条颜色, 默认: '0,0,0' ；三个数字分别为(R,G,B)，注意用,分割
opacity: 线条透明度（0~1）, 默认: 0.5
count: 线条的总数量, 默认: 150
zIndex: 背景的z-index属性，css属性用于控制所在层的位置, 默认: -1
<script type="text/javascript" color="0,0,255" opacity='0.7'  zIndex="-2" count="200"  src="/js/canvas-nest.js"></script>
<script type="text/javascript" opacity='0.7'  zIndex="-2" count="200"  src="/js/canvas-nest.js"></script>
-->
<script>
    //js加载完成执行方法 color是颜色值，opacity是透明度，zIndex是现在层级，count是线条数量。
    window.onload = function () {
        if (!(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent))) {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.color = "0,0,0";
            script.opacity = "0.7";
            script.zIndex = "-2";
            script.count = "500";
            script.src = "/blog/js/canvas-nest.js";
            document.getElementsByTagName('body')[0].appendChild(script);
        }
    }
</script>

</body>

</html>
